{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/pokemon/pokemon-detail.css' %}" />
{% endblock %} {% block content %}
<section class="pokemon-container">
  <div class="pokemon-img">
    <img src="{% static 'images/pokeball.svg' %}" alt="A skater boy pokemon" />
  </div>
  <div class="pokemon-details">
    <h1>{{ pokemon.name }}</h1>
    <p>{{pokemon.type}}</p>
    <p>{{ pokemon.description }}</p>
  </div>
  <div class="pokemon-actions">
    <a href="{% url 'pokemon-update' pokemon.id %}" class="btn warn">Edit</a>
    <a href="{% url 'pokemon-delete' pokemon.id %}" class="btn danger"
      >Delete</a
    >
  </div>
</section>

<section class="items">
  <div class="subsection-title">
    <h2>items</h2>
  </div>

  <!-- displaying a pokemon's item -->
  <h3>{{ pokemon.name }}'s Items</h3>
  <div class="subsection-content">
    {% if pokemon.items.count %} {% for item in pokemon.items.all %}
    <div class="item-container">
      <div class="color-block" style="background-color: {{ item.color }}"></div>
      <a href="{% url 'item-detail' item.id %}">
        <p>A {{ item.color }} {{ item.name }}</p>
      </a>
      <form action="{% url 'remove-item' pokemon.id item.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Remove Item</button>
      </form>
    </div>
    {% endfor %} {% else %}
    <p class="no-items">{{pokemon.name}} doesn't have any Items!</p>
    {% endif %}
  </div>

  <h3>Available Items</h3>
  <div class="subsection-content">
    {% if items.count %} {% for item in items.all %}
    <div class="item-container">
      <div class="color-block" style="background-color: {{ item.color }}"></div>
      <a href="{% url 'item-detail' item.id %}">
        <p>A {{ item.color }} {{ item.name }}</p>
      </a>
      <form
        action="{% url 'associate-item' pokemon.id item.id %}"
        method="post"
      >
        {% csrf_token %}
        <button type="submit" class="btn submit">Give item</button>
      </form>
    </div>
    {% endfor %} {% else %}
    <p class="all-items">
      {{pokemon.name}} already has all the available items 🥳
    </p>
    {% endif %}
  </div>

  {% endblock %}
</section>
